/* this is header section style */
*{
    margin: 0px;
}
/* this is some common style */
.primary-btn{
    background-color: #E55473;
    padding: 20px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 20px;
    margin-top: 30px;
} 
.header-div{
    display: flex;
    align-items: center;
    background-color: #FDEEF1;
    justify-content: space-around;
    padding-top: 50px;
}

.primary-heading{
    font-size: 80px;
    color: #272727;
    padding-bottom: 30px;
}
.primary-description{
    width: 640px;
    color:  #27272799;
    font-size: 18px;
}
/* header section style ends here */
/* extra section style starts from here */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #E55473;
    padding: 15px 50px;
    align-items: center;
    border-bottom: 5px solid black;
}
.nav-title{
    display: flex;
}
.nav-option{
    padding: 10px 20px;
    color: white;
    font-size: 25px;
}
.nav-option:hover{
    background-color: #111010;
    border-radius: 10px;
}
nav:hover{
    background-image: url("../flower-asset/miranda-mossburg-G4n3JPUNQgg-unsplash.jpg");
    background-repeat: no-repeat;
}
/* extra section style ends here */
/* feature section style starts from here */
.feature{
    display: flex;
    justify-content: space-evenly;
    margin: 130px 240px;
}   
.feature-img{
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 80px 20px 80px;
    border-radius: 300px 300px 0px 0px;
} 
.feature-img2{
    background-color: rgba(5, 151, 160, 0.15);;
}
.feature-img3{
    background-color: rgba(71, 125, 17, 0.15);
}
.feature-section{
    text-align: center;
    margin-top: 130px;
}
.feature-description{
    margin: 0px 0px 0px 880px;
}
.item-name{
    display: flex;
    justify-content: space-around;
    padding: 0px 170px;
    text-decoration: underline;
    font-size: 50px;
}
/* feature style ends here */
/* Hot deal style starts from here */
.hotdeal{
    margin-top: 130px;
    text-align: center;
    padding: 100px 150px;
}   
.deal-description{
    text-align: center;
    padding-left: 200px;
}
span{
    color: #E55473;
}
/* Hot deal style ends here */
/* Instagram section style starts from here */
.instagram-section{
    margin-top: 130px;
    text-align: center;
}  

.insta-img{

    display: flex;
    max-width: 1440px;
    margin: 40px auto;
    justify-content: space-around;
}  
.insta-description{
    color: #272727;
    font-size: 18px;
    text-align: center;
}
/* Instagram section style ends here */
/* subscribe section style starts from here */
input{
    padding: 22px 520px 22px 22px;
    border-radius: 10px;
    margin-top: 30px ;
}
.subscribe{
    text-align: center;
    background-image: url("../flower-asset/10.png");
    background-repeat: no-repeat;
    padding: 130px 0px;
    max-width: 1440px;
    max-height: 450px;
    margin: 130px 450px;
} 
.btn{
    margin-left: 10px;
} 
/* subscribe section style ends here */
/* footer section style starts from here */
footer{
    background-color: #111010;
    text-align: center;
    color: white;
    padding: 128px 0px;
}
#shop{
    color: white;
}

 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


































































    
    
    
    
    
    
    
    