/* this is some common style */
.btn{
    background-color: #E55473;
    padding: 20px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 20px;
} 

/* this is header section style */
.header-div{
    display: flex;
    align-items: center;
    background-color: #FDEEF1;
    justify-content: space-around;
    padding-top: 50px;
    
}
.header-title{
    font-size: 80px;
    color: #272727;
}
.header-description{
    color:  #27272799;
    font-size: 18px;
}
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


































































    
    
    
    
    
    
    
    